#navbar 
{
	position: fixed;
	width: 100%;
	height: 50px;
	background: white;
	overflow: hidden;
	border-bottom: 1px solid  #bbb;
	background-color: rgb(210, 241, 255);
}

#navbar li {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px;
  }

#navbar li a {
	text-decoration:none;
  }

a, a:hover, a:visited, a:active {
	color: inherit;
	text-decoration: none;
}

hr.dashed {
	border-top: 3px dashed rgb(206, 237, 255);
}

section.section {
	padding-top:50px;
	padding-bottom:50px;
	display: flow-root;
}

div.title {
	text-align: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 25px;
}

a:visited { 
	text-decoration: none; 
	color: black; 
}

div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 20%;
  }
  
  div.gallery:hover {
	border: 1px solid #777;
  }
  
  div.gallery img {
	width: 100%;
	height: auto;
  }
  
  div.desc {
	padding: 15px;
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 13px;
	height: auto;
  }

div.centered {
	text-align: center;
	margin: auto;
	width: 50%;
	align-items: center;
}

.full-width {
	width: 100%;
	height: 100vh;
	display: flex;
  }
  
  * {
	font-family: Calibri;
}

  body {
  background-color: rgb(210, 241, 255);
  margin:0px;
  padding:0px;
}

.full-width.justify-content-center {
	display: flex;
	align-self: center;
	width: 100%;
  }

.full-width.lead.emoji-picker-container {
	width: 300px;
	display: block;
	
  }

.full-width.lead.emoji-picker-container input {
	width: 100%;
	height: 50px;
}

table.answers{
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mail{
	border-radius: 10px;
	border-width: 1px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px;
	font-size: 15px;
}
.subject{
	border-radius: 10px;
	border-width: 1px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px;
	font-size: 15px;

}

form{
	align-items: center;
	align-self: center;
	padding-left: 20%;
}
textarea{
	box-sizing: border-box;
	width: 30%;
	height: 100px;
}
.message{
	border-radius: 10px;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	text-indent:0%;
	font-size: 15px;

}
.send{
	border-radius: 5px;
	border-width: 1px;
	padding: 5px;
	width: 20%;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;


}
.use-case{
	padding-left: 10%;
}

iframe {
	z-index: -1;
}